h1{
    color: rgb(163, 44, 173);
    font-size: 80px;
}
.btnRegister{
    color: rgb(255, 255, 255);
    background-color: rgb(103, 10, 139);
    font-size: 30px;
}
body{
    background-color: black;
}